!!! 5
html(lang = "en")
  head
    != SocketStream
    meta(charset = "utf-8")
    title Critical Mass
  body
    div#authentication
      form#login(onsubmit = 'return false')
        legend Critical Mass
        fieldset
          label(for = 'username') Nickname
          div.input
            input(id = 'username', type = 'text', autocomplete = 'off')
          div#errors

    div#main
      div#topmenu
        span#userInfo
          span Logged in as
          span#currentUser
          a#logout(href = '#') Logout
        h1 Critical Mass

      div#game
        div#board

        div#key
          ul#playerList

      div.clear
      
      div#lobby
        h1 Lobby

        div#channel
          table
            tbody#chatLog

        div#users
          h4 Players
          ul#userList

          div#menu
            input#startGame(type ='submit', value='Start Game')

        div#text
          form#chatroom(onsubmit = 'return false')
            input(id = 'message', type = 'text', autocomplete = 'off')
