!!! 5
html(lang = "en")
  head
    != SocketStream
    meta(charset = "utf-8")
    title Critical Mass
  body
    #content
      div#authentication
        h1 Critical Mass
        form#login(onsubmit = 'return false')
          label(for = 'username') Nickname:
          input(id = 'username', type = 'text', autocomplete = 'off')

      div#game(style = 'display:none')
        div#board

        div#key
          ul#playerList

      div.clear

      div#main(style = 'display:none')
        a#logout(href = '#') Logout

        div#game(style = 'display:none')
        
        div#lobby
          form#chatroom(onsubmit = 'return false')
            h3 Lobby

            div#channel
              table
                tbody#chatlog

            div#users
              h4 Players
              ul#userlist

              div#menu
                input#startGame(type ='submit', value='Start Game')

            div#text
              input(id = 'message', type = 'text', autocomplete  ='off')
